# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives
In this lab you will: 
* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [63]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [64]:
# Your code here
df["stars_squared"] = df["stars"]**2
df.loc[1:14,["stars","stars_squared"]]

      stars  stars_squared
1         5             25
2         1              1
4         5             25
5         1              1
10        5             25
...     ...            ...
766       5             25
2268      5             25
4195      5             25
1335      1              1
14        5             25

[1916 rows x 2 columns]

## Dates
Select the month from the date string using a lambda function.

In [65]:
# Your code here
df["date"].str.split("-").apply(lambda x: x[1])

1       11
2       10
4       09
5       02
10      06
        ..
689     06
4874    08
564     06
3458    10
4206    08
Name: date, Length: 2610, dtype: object

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [66]:
df.text.count()

2610

In [67]:
# Your code here
df["mean_text"] = df.text.str.split().apply(lambda x: len(x)).mean()

In [69]:
df.loc[1:25, ["mean_text"]]

    mean_text
1   77.065517
2   77.065517
4   77.065517
5   77.065517
10  77.065517
11  77.065517
12  77.065517
19  77.065517
25  77.065517

## Create a new column for the number of words in the review

In [71]:
# Your code here
df["len_text"] = df.text.str.split().map(lambda x: len(x))

In [72]:
df.loc[1:4, ["len_text", "mean_text"]]

   len_text  mean_text
1        58  77.065517
2        30  77.065517
4        30  77.065517

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [84]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = df["len_text"].apply(lambda x: "short" if x<50 else ("Medium" if x<80  else "Long"))
df['Review_length'].value_counts(normalize= True)

short     0.493103
Long      0.294636
Medium    0.212261
Name: Review_length, dtype: float64

## Level Up: Dates Advanced!
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [85]:
# Your code here
df["date"].head()

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [114]:
# Your code here
df["date"].str.split("-").apply(lambda x: "{}-{}-{}".format(x[2],x[1],x[0]))

1       13-11-2012
2       23-10-2014
4       05-09-2014
5       25-02-2011
10      15-06-2016
           ...
689     02-06-2013
4874    14-08-2016
564     14-06-2016
3458    02-10-2013
4206    15-08-2016
Name: date, Length: 2610, dtype: object

## Summary

Great! Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.